<div class="footer__addr">
    <img class="brandLogo footer__logo" src="https://pixeldrain.com/api/file/tMTd2NaC" alt="Logo">

    <p>Whether you're looking for subtitles for your favorite movie or TV show, or you're learning a new language, SubtitleZ is the perfect place to find the subtitles you need.</p>
</div>

<ul class="footer__nav">

    <li class="nav__item">
        <h2 class="nav__title">Legal</h2>

        <ul class="nav__ul">
            <li>
                <a href="/aboutUs">About Us</a>
            </li>

            <li>
                <a href="/contactUs">Contact Us</a>
            </li>

            <li>
                <a href="/privacyPolicy">Privacy Policy</a>
            </li>

            <li>
                <a href="/termsAndConditions">Terms and Conditions</a>
            </li>
        </ul>
    </li>
</ul>

<div class="legal">
    <span>&copy; 2023 <a href="/">SubtitleZ</a> | <a href="https://bipuldey.com">Bipul Dey</a>. All rights reserved.</span>
</div>