<nav class="navbar headerContainer">
  <a href="/" class="brand"><img class="brandLogo" src="https://pixeldrain.com/api/file/tMTd2NaC" alt="Logo"></a>
  <div class="burger" id="burger">
     <span class="burger-line"></span>
     <span class="burger-line"></span>
     <span class="burger-line"></span>
  </div>
  <span class="overlay"></span>
  <div class="menu" id="menu">
     <ul class="menu-inner">
        <li class="menu-item"><a class="menu-link" href="/">Home</a></li>
        <li class="menu-item"><a class="menu-link" href="/popular">Popular</a></li>
        <li class="menu-item"><a class="menu-link" href="/latest">Latest</a></li>
        <li class="menu-item"><a class="menu-link" href="/req&report">Request/Report</a></li>
     </ul>
  </div>
</nav>