<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head'); %>

</head>

<body>

    <header class="header" id="header">

        <%- include('../partials/header'); %>

    </header>

    <div class="container">

        <div class="section">

            <h1 class="section-name">About Us</h1>

            <p style="margin: 1rem 0 0rem 0; text-align: justify; word-break: break-all;">Welcome to SubtitleZ, your ultimate destination for
                seamless subtitle downloads! At SubtitleZ, we’re
                passionate about enhancing your viewing experience by providing accurate and timely subtitles for your
                favorite movies and TV shows.</p>

            <h2 style="margin: 1rem 0 0.5rem 0;">Our Mission</h2>
            <p style="text-align: justify; word-break: break-all;">Our mission is simple: to bridge language barriers and make entertainment
                accessible to everyone,
                regardless
                of their native tongue. We believe that subtitles can transform your viewing experience, enabling you to
                immerse yourself in captivating stories from around the world.</p>

            <h2 style="margin: 1rem 0 0.5rem 0;">Why Choose SubtitleZ?</h2>
            <ul style="list-style-position: inside;">
                <li style="margin-left: 1rem;"><b>Vast Library:</b> Our extensive collection boasts subtitles for a wide
                    range of movies and TV series,
                    spanning
                    various genres and languages. Whether you’re into Hollywood blockbusters or international cinema,
                    we’ve
                    got
                    you covered.</li>
                <li style="margin-left: 1rem;"><b>Accuracy Guaranteed:</b> We take pride in delivering high-quality
                    subtitles that sync perfectly with your
                    content. Our dedicated team of subtitle experts ensures that every subtitle file meets our rigorous
                    standards for accuracy and timing.</li>
                <li style="margin-left: 1rem;"><b>User-Friendly Interface:</b> Navigating SubtitleZ is a breeze. Our
                    user-friendly website makes it easy to
                    search, browse, and download subtitles, ensuring a hassle-free experience for all users.</li>
                <li style="margin-left: 1rem;"><b>Regular Updates:</b> Stay up-to-date with the latest releases! We
                    continuously update our subtitle
                    library to provide you with subtitles for the newest movies and TV episodes.</li>
                <li style="margin-left: 1rem;"><b>Community Support:</b> Join our growing community of subtitle
                    enthusiasts. Share your feedback, request
                    subtitles, or even contribute your own to help fellow users.</li>
            </ul>

            <h2 style="margin: 1rem 0 0.5rem 0;">Your Satisfaction, Our Priority</h2>

            <p style="text-align: justify; word-break: break-all;">At SubtitleZ, your satisfaction is our priority. We’re committed to making
                your entertainment
                experience
                as enjoyable as possible. If you have any questions or suggestions, feel free to reach out to our
                responsive
                customer support team. We’re here to assist you every step of the way.</p>

            <p style="text-align: justify; word-break: break-all;">Thank you for choosing SubtitleZ as your go-to source for subtitles. We look
                forward to enhancing your
                cinematic journey with accurate and reliable subtitles.</p>
        </div>

    </div>

    <footer>

        <%- include('../partials/footer'); %>

    </footer>

</body>

</html>