<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head'); %>

</head>

<body>

    <header class="header" id="header">

        <%- include('../partials/header'); %>

    </header>

    <div class="container">

        <div class="section">

            <h1 class="section-name">Contact Us</h1>

            <p style="margin: 1rem 0 0.5rem 0; text-align: justify; word-break: break-all;">Thank you for visiting our website! We value your feedback, inquiries, DMCA removals, and suggestions.
                Our team is here to assist you and provide the information you need. Please feel free to get in touch
                with us using the contact details provided below.</p>
            <ul style="list-style-position: inside;">
                <li style="margin-left: 1rem;">General Inquiries</li>
                <li style="margin-left: 1rem;">Customer Support</li>
                <li style="margin-left: 1rem;">Partnerships and Collaborations</li>
                <li style="margin-left: 1rem;">Media and Press Inquiries</li>
                <li style="margin-left: 1rem;">Feedback and Suggestions</li>
            </ul>
            <p style="margin: 1rem 0 0.5rem 0; text-align: justify; word-break: break-all;">Please send us an email at <a href="mailto:Contact@subtitlez.com">Contact@subtitlez.com</a> with any general enquires, questions,
                comments, or other non-specific requests, recommendations, etc. We strive to answer to all emails within
                24 to 48 hours.</p>

            <p style="text-align: justify; word-break: break-all;">We appreciate your interest and engagement with our website. Your satisfaction is our priority, and we
                are committed to providing excellent customer service. We look forward to hearing from you and assisting
                you in any way we can.</p>

            <P style="margin: 1rem 0 0rem 0;">Thank you,</p>
            <p>The SubtitleZ Team</p>

        </div>

    </div>

    <footer>

        <%- include('../partials/footer'); %>

    </footer>

</body>

</html>